.App {
  text-align: center;
}

 

  



/* Mobile Styles */
@media only screen and (max-width: 400px) {
  body {
    background-color: #F09A9D; /* Red */
  }

  #menu-bar {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }

  #menu-bar.match-menu {
    margin-bottom: 0px;
  }

  #user-profile-actions {
    grid-column: 1 / 2;
  }

  #menu-bar-text {
    grid-column: 2 / -2;
  }

  .content-container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-gap: 10px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  
  /* single button */
  .single-user-action {
    grid-row: 4;
    grid-column: 4 / 6
  }



  .user-prompt {
    grid-row: 2;
    grid-column: 1 / -1;
  }

  .user-prompt.filter {
    grid-row: 1;
    grid-column: 1 / -1;
  }

  #filter-container {
    padding: 0em 1em;
    grid-column: 2 / 7;
    grid-row: auto;
  }

  /* filter row with the label and the toggle */
  .filter-items {
    grid-column: 2 / 7;
    grid-row: auto;
  }

  .match-page-container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: (7, 5fr);
    grid-gap: 10px;
  }

  .match-image {
   grid-column: 1 / -1;
   grid-row: 1 / 3;
  }

  /* match buttons */
/*  .match-buttons {
    margin-top: 3em;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: 1fr;
    grid-gap: 10px;
    grid-column: 1 / -1;
    grid-row: 4;
  }*/

  #match-no {
    grid-column: 3 / 5;
    grid-row: 5;
  }

  #match-yes {
    grid-column: 7 / 9;
    grid-row: 5;
  }

}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  body {
    background-color: #F5CF8E; /* Yellow */
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  body {
    background-color: #B2D6FF; /* Blue */
  }
}