.App {
  text-align: center;
}

#menu-bar {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 10px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

#user-profile-actions {
  grid-column: 1 / 2;
}

#menu-bar-text {
  grid-column: 2 / -2;
}